/pozzo.DB
/pozzo.DB-wal
/pozzo.DB-shm
/pozzo.DB.bak
/pozzo.DB-wal.bak
/pozzo.DB-shm.bak
/public/photos
/public/photos.bak
/scripts/deploy.sh

/dist
/test/env
/test/__pycache__
/test/.pytest_cache
/test/tools/output
/test/tools/raw_coverage
/test/tools/phpcov.phar

/vendor
/composer.phar
/.vscode/settings.json
